@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--content-->
<div class="content">
    <!--contact-->
    <div class="mail-w3ls">
        <div class="container">
            <h2 class="tittle">Liên hệ</h2>
            <div class="mail-grids">
                <div class="mail-top">
                    <div class="col-md-4 mail-grid">
                        <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                        <h5>Địa chỉ</h5>
                        <p>Đại học Giao thông vận tải</p>
                    </div>
                    <div class="col-md-4 mail-grid">
                        <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
                        <h5>Điện thoại</h5>
                        <p>Liên hệ:  99999999</p>
                    </div>
                    <div class="col-md-4 mail-grid">
                        <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
                        <h5>E-mail</h5>
                        <p>E-mail:<a href="mailto:example@mail.com"> hoangnh272000@mail.com</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                
                <div class="mail-bottom">
                    <h4>Liên hệ với chúng tôi</h4>
                    <form action="#" method="post">
                        <input type="text" value="Họ Tên" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                        <input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                        <input type="text" value="Số điện thoại" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Telephone';}" required="">
                        <textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Nhập tin nhắn</textarea>
                        <input type="submit" value="Gửi">
                        <input type="reset" value="Xóa">

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--contact-->
</div>
<!--content-->