<!--header-->

<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="top-left">
                <a href="#"> Hỗ trợ  <i class="glyphicon glyphicon-phone" aria-hidden="true"></i>Nguyễn Huy Hoàng</a>
            </div>
            <div class="top-right">
                <ul>
                    <li><a href="~/pages/checkout">Thanh toán</a></li>
                   
                    @if (string.IsNullOrEmpty(ViewBag.Username))
                    {
                        <li><a href="~/login/index">Đăng nhập</a></li>

                    }
                    else
                    {
                        <li><a href="/Admin/user/index">@ViewBag.Username</a></li>
                        <li><a onclick="DeleteSession()" href="javascript:">Đăng xuất</a></li>
                    }

                    <li><a asp-area="Admin" asp-controller="User" asp-action="Create"> Đăng ký </a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="heder-bottom">
        <div class="container">
            <div class="logo-nav">
                <div class="logo-nav-left">
                    <h1><a href="~/pages/index">Time Up<span>Good cheap price </span></a></h1>
                </div>
                <div class="logo-nav-left1">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header nav_2">
                            <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="~/pages/index" class="act">Trang chủ</a></li>
                                
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Casio<b class="caret"></b></a>
                                    <ul class="dropdown-menu multi-column columns-3" style="min-width:196px;">
                                        <div class="row">
                                            <div class="multi-gd-img">
                                                <ul class="multi-column-dropdown">
                                                    <h6>Danh mục</h6>
                                                    <li><a href="~/pages/products1/5">Đồng hồ Nam</a></li>
                                                    <li><a href="~/pages/products1/10">Đồng hồ Nữ</a></li>
                                                    <li><a href="~/pages/products1/11">Phụ kiện</a></li>

                                                </ul>
                                            </div>

                                            @*<div class="col-sm-3  multi-gd-img">
                                                <a href="~/pages/products1/1" style="display:flex;align-items:center;flex-direction:column;color:#000"><img src="~/images/mac1.jpg" alt=" " />MAC</a>
                                            </div>
                                            <div class="col-sm-3  multi-gd-img">
                                                <a href="~/pages/products1/2" style="display:flex;align-items:center;flex-direction:column;color:#000"><img src="~/images/asus1.jpg" alt=" " />ASUS</a>
                                            </div>*@
                                            <div class="clearfix"></div>
                                        </div>
                                    </ul>
                                </li>
                                <li><a href="~/pages/mail">Liên hệ</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="logo-nav-right">
                    <ul class="cd-header-buttons">
                        <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
                    </ul> <!-- cd-header-buttons -->
                    <div id="cd-search" class="cd-search">
                        <form method="get" asp-action="search">
                            <input name="search" value="@ViewData["getSearch"]" type="search" placeholder="Search...">
                        </form>
                    </div>
                </div>
                <div class="header-right2">
                    <div class="cart box_1">
                        <a href="/checkout">
                            <h3>
                                <div class="total">
                                    @*<span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> 5)*@
                                   

                                </div>
                                    <img src="~/user/images/bag.png" alt="" />
                                </h3>
                            </a>
                            @*<p><a asp-controller="Pages" asp-action="Cart" class="simpleCart_empty">Empty Cart</a></p>*@
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!--header-->