@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<DoAn_ASPNETCORE.Areas.Admin.Models.SanPhamModel>
<style>
    .recent_box{
        display:flex;
        width:100%;
        padding:8px;
        margin-bottom:1em;
    }
    .recent_box:hover {
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
        border-radius:5px;
    }
    .recent-grids {
        display: flex;
        flex-direction: column;
    }
    .recent-left{
        width:40%;

    }
    .recent-right{
        width:60%;
        margin-top:8px;
    }
    .price-in1{
        font-size:0.5em !important;
    }
</style>
<div class="recent-grids">
    @foreach (var Recent in ViewBag.Recent)
    {
    <div class="recent_box">
        <div class="recent-left">
            <a href="~/pages/single/@Recent.ID"><img class="img-responsive " src="~/images/@Recent.Image" alt=""></a>
        </div>
        <div class="recent-right">
            <h6 class="best2"><a href="~/pages/single/@Recent.ID">@Recent.TenSP </a></h6>
            <div class="block">
                <div class="starbox small ghosting"> </div>
            </div>
            <span class=" price-in1">@Recent.Gia VNĐ</span>
        </div>
    </div>
    }
    <div class="clearfix"> </div>
</div>